name: Build and deploy Node.js app to Azure Web App - powershopbackend

on:
  push:
    branches:
      - Rodriguez
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      
      - name: npm install
        working-directory: ./backend
        run: npm install
      
      - name: Zip artifact for deployment
        run: |
          cd backend
          zip -r ../release.zip .
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Unzip artifact for deployment
        run: unzip release.zip
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_ACC29A0EBFB6456EAC4A990F66092080 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C8C6A6F771824A5DB8EA447514241361 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8F7796E29903409B9BE23E8F554162DE }}
      
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'powershopbackend'
          slot-name: 'Production'
          package: .
